
@{
	ViewBag.Title = "Contact";
	Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<section class="welcome_bakery_area cake_feature_main p_100">
	<div class="container">
		<div class="main_title">
			<h2>Địa chỉ</h2>
			<h5> Đến ngày địa chỉ của cửa hàng để được xem nhiều Trà sữa ngon hơn!</h5>
		</div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4876.646694892805!2d106.33895227571861!3d9.936170122384603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a01707c4e47f77%3A0xcd20470e92815057!2zVHLDoCBT4buvYSBCZW8gQsah!5e1!3m2!1svi!2s!4v1749380931353!5m2!1svi!2s" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	

	</div>
</section>